body {
    background-image: url("https://images.pexels.com/photos/1037993/pexels-photo-1037993.jpeg?auto=compress&cs=tinysrgb&w=800");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

  h1 {
    font-size: larger;
    display: block;
    margin: 0 auto;
    text-align: center;
    color: red;
  }