body {
    background-color: red;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

  h1 {
    font-size: larger;
    display: block;
    margin: 0 auto;
    text-align: center;
    color: red;
  }